:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul {
  list-style-type: none;
}

nav li {
  list-style-type: none;
}

nav a.is-active {
  font-weight: bold;
  pointer-events: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pages {
  margin-bottom: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
}
